.container {
    display: grid;
    padding: 20px 10px 10px 20px;
    grid-template-rows: 150px 100px 100px 100px 100px 100px;
    width: 400px;
    background: rgb(36, 33, 33);
}

.Row1 {
    display: grid;
    grid-template-columns: 370px 30px;
    text-align: right;
    padding: 0px 0px 0px 0px;
    font-size: 60px;
    font-weight: normal;
    color: white;
}

.Row2 {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
}

.Row3 {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
}

.Row4 {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
}

.Row5 {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
}

.Row6 {
    display: grid;
    grid-template-columns: 200px 100px 100px;
}

.digit {
    padding: 20px 20px 20px 20px;
    border: none;
    border-radius: 45px;
    letter-spacing: 0px;
    font-size: 45px;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: white;
    background: rgb(99, 91, 91);
    height: 90px;
    width: 90px;
}

.digitBig {
    padding: 20px 20px 20px 20px;
    border: none;
    border-radius: 45px;
    letter-spacing: 0px;
    font-size: 48px;
    font-weight: normal;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    color: white;
    background: rgb(99, 91, 91);
    height: 90px;
    width: 190px;
}

.digitBig .innerButtonText {
    padding-left: 15px;
}

.operator {
    padding: 20px 20px 20px 20px;
    border: none;
    border-radius: 45px;
    letter-spacing: 0px;
    font-size: 40px;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: white;
    background: rgb(241, 174, 27);
    height: 90px;
    width: 90px;
}

.special {
    padding: 20px 20px 20px 20px;
    border: none;
    border-radius: 45px;
    letter-spacing: 0px;
    font-size: 40px;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: white;
    background: rgb(177, 172, 161);
    height: 90px;
    width: 90px;
}

button:focus {
    outline: 0;
}

button {
    position: relative;
}

button:active {
    top: 4px;
    /*
    left: 4px;
    height: 82px;
    width: 82px;
    font-size: 36px;
    */
}